<div>
    <h2> Add a Celebrity </h2>
    <form action="/celebrities/create" method="POST">

    <input type="text" name="name" placeholder="Enter Celebrity Name">
    <input type="text" name="occupation" placeholder="Enter their Occupation">
    <input type="text" name="catchPhrase" placeholder="Enter CatchPhrase">

    <button class="btn btn-outline-info" type="submit">Submit</button>
    </form>
</div>